body {
  background-color: #9cbcdd;
}

#heading {
  text-align: center;
  color: #b0499a;
  font-size: 54px;
  font-family: 'Patua One', cursive;
}

#settle {
  text-align: center;
  font-size: 20px;
  font-family: monospace;
  color: #102893;
}

#aa {
  padding-top: 100px;
  padding-bottom: 500px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: white;
  position: relative;
}

.text-box {
  word-wrap: break-word;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 0 10px;
  text-align: left;
  color: white;
  max-width: 70%;
}

.right {
  margin-right: 75px;
  background-color: green;
  float: right;
  margin-left: 70%;
}

.left {
  margin-left: 75px;
  background-color: blue;
  float: left;
  margin-right: 70%;
}

.text-area {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#message-send {
  width: 100%;
}
